{% extends "admin/base.html.twig" %}
{% block title %}Modification du commentaire n° {{comments.id}}{% endblock %}
{% block body %}
    <div class="container">
     <h1 class="my-5">Modification du commentaire n° {{comments.id}}</h1>
     <div class="alert alert-info">
        <strong> Annonce liée : </strong>{{comments.ad.title}} <br>
        <strong> Author : </strong>{{comments.author.fullName}} <br>
        <strong> Date de creation : </strong>{{comments.createdAt|date('d/m/Y H:i')}} <br>
        <strong> Note : </strong>{{comments.rating|length}} <br>
     </div>
     {{form_start(form)}}
     {{form_widget(form)}}
     <button type="submit" class="btn btn-primary"><i class="fas fa-check">
     </i>Enregister les modification</button>
     {{form_end(form)}}
    </div>
{% endblock %}