{% set url =  path('voir_annonce', {'slug':ad.slug}) %}
<div class="col-md-4 my-3">
			<div class="card" style="width:18rem;">
				<div class="card-header text-center">
					{{ad.rooms}} Chambre,<strong> {{ad.price}} FCFA/nuit</strong><br>
					<small>pas encore note!</small>
				</div>
				<a href="{{url}}">
				<img src="{{ ad.coverImage }}" alt="image-avatar" class="float-left" style="width: 100%;
	              height:200px; display: block;">
				  </a>
				<div class="card-body">
				<a href="{{url}}">
					<h5 class="card-title">
					{{ad.title}}
					</h5>
				 </a>
					<p class="card-text">
						{{ad.introduction}}
					</p>
					<a href="{{url}}" class="btn btn-success float-right">En savoir plus</a>	
				</div>
			</div>
		</div>